.container{
    display: flex;
    height: 50vh;
    border: solid 5px white;
}

.left{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    border-right: solid 5px red;
}

.right{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.container p{
    white-space: pre-wrap;
}